@model List<Youtube_Website.Models.Video>

@{
    var searchVideo = (List<Youtube_Website.Models.Video>)ViewBag.searchVideo;
    Layout = null;
    bool IsUserLoggedIn = Session["email"] == null;
}

@*
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <div>
            <ul>
                <li><a href="/Home/Index/">Home</a></li>
                <li><a href="/Video/MyVideos/">My Videos</a></li>
                <li><a href="#">Subscription</a></li>
            </ul>
        </div>
        <p>@Session["email"]</p>
        @if (video != null && video.Count > 0)
        {
            foreach (var v in video)
            {
                <ol>
                    <li>
                        <a href="/Video/Play?id=@v.id">@v.title</a>
                    </li>
                </ol>
            }
        }
        else
        {
            <p>No Record Found</p>
        }

        <a href="/Video/Upload/">Upload Video</a>


    </body>
    </html>

*@

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Magazine &mdash; All Videos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />

    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link rel="shortcut icon" href="favicon.ico">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <!-- Animate -->
    <link rel="stylesheet" href="~/Assets/Homepagevideotemplate/css/animate.css">
    <!-- Icomoon -->
    <link rel="stylesheet" href="~/Assets/Homepagevideotemplate/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Assets/Homepagevideotemplate/css/bootstrap.css">

    <link rel="stylesheet" href="~/Assets/Homepagevideotemplate/css/style.css">

    <!-- Modernizr JS -->
    <script src="~/Assets/Homepagevideotemplate/js/modernizr-2.6.2.min.js"></script>
    @* <style>
            img.img-responsive {
                width: 300px;
                height: 250px;
            }
        </style>*@
    <style>
        #fh5co-header {
            padding: 1em 1em;
        }

            #fh5co-header .fh5co-nav-toggle {
                top: 1em;
            }

        h1, .h1, h2, .h2, h3, .h3 {
            margin-top: 5px;
            margin-bottom: 30px;
        }

        #fh5co-header .fh5co-social {
            position: absolute !important;
            right: 3em !important;
            top: 0px;
            z-index: 99;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
            display: none;
        }
        #search_id {
            background-color: red; 
            color: white;
            font-weight: 600;
            border: 0px solid white;
        }
    </style>
</head>
<body>
    <div id="fh5co-offcanvas">
        <a href="#" class="fh5co-close-offcanvas js-fh5co-close-offcanvas"><span><i class="icon-cross3"></i> <span>Close</span></span></a>
        <div class="fh5co-bio">
            <figure>
                <img src="~/Assets/Homepagevideotemplate/images/person1.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
            </figure>
            <h3 class="heading">About Me</h3>
            <h2>@Session["email"]</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            <ul class="fh5co-social">
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-facebook"></i></a></li>
                <li><a href="#"><i class="icon-instagram"></i></a></li>
            </ul>
        </div>

        <div class="fh5co-menu">
            <h3 style="color: orange;">Your Account</h3>
            <div class="fh5co-box">

                <h3 class="heading">@Session["name"]</h3>
                <ul>
                    @if (IsUserLoggedIn)
                    {
                        <li><a href="/User/SignIn/">Signin</a></li>
                        <li><a href="/User/SignUp/">Signup</a></li>
                    }
                    else
                    {
                        <li><a href="/Home/Index/">Home</a></li>
                        <li><a href="/Video/MyVideos/">My Videos</a></li>
                        <li><a href="/User/updateUserInfo/">Settings</a></li>
                        <li><a href="/User/Logout">Logout</a></li>
                        <li><button><a href="/Video/Upload/">Upload Video</a></button></li>
                    }
                </ul>
            </div>
            <div class="fh5co-box">
                <h3 class="heading">Search</h3>
                <form action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Type a keyword">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <header id="fh5co-header">

        <div class="container-fluid">

            <div class="row">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
                <ul class="fh5co-social">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                </ul>
                <div class="col-lg-12 col-md-12 text-center">
                    <h1 id="fh5co-logo"><a href="/Home/Index/">All Videos <sup>TM</sup></a></h1>
                    <form method="post" action="/Home/SearchVideoList/">
                        <input type="search" name="keyword" placeholder="Search" required/>
                        <input type="submit" value="Search" id="search_id"/>
                    </form>
                </div>

            </div>

        </div>

    </header>
    <!-- END #fh5co-header -->
    <div class="container-fluid">
        <div class="row fh5co-post-entry">

            @if (searchVideo != null && searchVideo.Count > 0)
            {
                foreach (var searchItem in searchVideo)
                {
                    <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
                        <figure>

                            <a href="/Video/Play?id=@searchItem.id"><video src="@searchItem.source" class="img-responsive"></video></a>

                        </figure>
                        <span class="fh5co-meta"><a href="/Video/UserVideos?uploaderemail=@searchItem.uploadedby">@searchItem.uploadedby</a></span>
                        <h2 class="fh5co-article-title"><a href="single.html">@searchItem.title</a></h2>
                    </article>

                }
            }
            <div class="clearfix visible-lg-block visible-md-block visible-sm-block visible-xs-block"></div>

            <div class="clearfix visible-xs-block"></div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/Assets/Homepagevideotemplate/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/Assets/Homepagevideotemplate/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Assets/Homepagevideotemplate/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Assets/Homepagevideotemplate/js/jquery.waypoints.min.js"></script>
    <!-- Main JS -->
    <script src="~/Assets/Homepagevideotemplate/js/main.js"></script>

</body>
</html>

